body{
    background:rgb(255, 255, 255);
    font-family: Arial, Helvetica, Helvetica Neue, sans-serif;
    color: black;
}


header{
    background: black;
    font-family: Arial, Helvetica, Helvetica Neue, sans-serif;
    color:aliceblue;
    padding: 20px;
}


#About-Us{
    background: white;
    font-family: Arial, Helvetica, Helvetica Neue, sans-serif;
    color: black;
    margin: 20px;
    display: block;
    flex-direction: row;
}

#Section02{
    background: greenyellow;
}


#Footer-Div{
    display: inline-block;
    margin: 80px auto;
    font-family: Arial, Helvetica, Helvetica Neue, sans-serif;
    color: white;
    font-size: 24px;
}


#Footer-Div span{
    background: blue;
    padding: 10px;
}




footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align:left;
    background: black;
    font-family: Arial, Helvetica, Helvetica Neue, sans-serif;
    color: white;
}



ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}


.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}  



li{
    display: inline-block;
    margin-right: 20px;
}



div{
    color: black;
}

